{% extends 'base.html.twig' %}

 {% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/home.css') }}" >{% endblock %}

{% block pagetitle %}<h1>Bienvenue,</h1>{% endblock %}
{% block pagesubtitle %}<p>Ici c'est mon petit labo à ciel ouvert. Expérimentations PHP, Javascript, HTML, CSS ou toute autre technologie, sont au programme :-).</p>{% endblock %}

{% block body %}
    {{ include('partial/article/article_list.html.twig', { 'articles': articles }) }}
{% endblock %}
