{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/article/css/css3.css') }}" >{% endblock %}
{% block pagetitle %}<h1>{% trans %}article_title_nouveautes_php_5_5{% endtrans %}</h1>{% endblock %}
{% block pagesubtitle %}<p>{% trans %}article_text_nouveautes_php_5_5{% endtrans %}</p>{% endblock %}

{% block body %}
<h2>Peite expérimentation</h2>
<div>
  <div id="head">
    <div id="hair"></div>
    <div id="face">
      <div class="eyes" id="left-eyes">
        <div class="pupils"></div>
      </div>
      <div class="eyes" id="right-eyes">
        <div class="pupils"></div>  
      </div>
      <div id="nose"><</div>
      <div id="mouth"><</div>
    </div>
  </div>
</div>
{% endblock %}