{% extends 'base.html.twig' %}


{% block pagetitle %}<h1>{% trans %}article_title_nouveautes_php_5_5{% endtrans %}</h1>{% endblock %}
{% block pagesubtitle %}<p>{% trans %}article_text_nouveautes_php_5_5{% endtrans %}</p>{% endblock %}

{% block body %}
    <h2>Test du yield</h2>
    <p>On commence toujours par le myhique hello world !</p>
    <code>
		<pre>
function xrange($start, $limit, $step = 1) {
    for($i = $start; $i <= $limit; $i += $step) {
        yield $i;
	}
}

echo 'Chiffres impairs simplement : ';
		</pre>
    </code>
    <div class="experimentation-small">{{experimentation1}}</div>

    <h2>Test list</h2>
    <p>On commence toujours par le myhique hello world !</p>
    <code>
		<pre>
$frameworks = [
    'php' => ['Symfony', 'Zend'],
    'python' => ['Django', 'Pyramid '],
    'java' => ['Hibernate', 'Spring'],
];

$string = '';
foreach ($frameworks as list($first, $second)) {
    $string .= '1:' .$first.' - 2:'. $second.'<br \>';
}

echo $string;
		</pre>
    </code>
    <div class="experimentation-small">{% autoescape false %}{{experimentation2}}{% endautoescape %}</div>

    <h2>Test</h2>
    <p>On commence toujours par le myhique hello world !</p>
    <code>
    	<pre>
class BetterThan {
	public function javaVsPhp() 
	{
		if (empty($this->isJavaBetterThanPhp())) {
		    return 'hey oui on le sait tous ^^.';
		}

		return ';-)';
	}

	private function isJavaBetterThanPhp() 
	{
		return false;
	}
}

$betterThan = new BetterThan();
echo $betterThan->javaVsPhp();
    	</pre>
    </code>

    <div class="experimentation-small">{{experimentation3}}</div>
{% endblock %}


