article.article{float:left;width:250px;height:215px;margin-right:65px;margin-bottom:10px;}
article.article img{float:left;margin:0 5px 0 5px;}
article.article p:after{clear:both;}
article.article h2{font-size:16px;height:36px;line-height:20px;}